.container{
  display:flex;
  align-items: center;
  background-color: #f0f2f5;
}

.left{
  width: 50%;
  padding-top: 150px;
  padding-left: 150px;
}
.left1 > p{
  font-size: 30px;
  padding-left: 30px;
}
.logo > img{
  max-width: 60%;
  margin-bottom: -40px
}
.right{
  width: 50%;
  padding-left: 200px;
}
.login{
  background-color: white;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px grey;
}